<!DOCTYPE html>
<html>
  <head>
    <style>
        body{
            background-image: linear-gradient(to left top,#E56E94,#583759);
            background-repeat: no-repeat;
            background-attachment: fixed;
             background-size: cover;
        } 
        p {
  font-size: 40px;
  color:bisque;
  font-size: 20px;
}
.n{  
    float: top-left;
   color: black;
   font-size: 20px;
   background-color: aquamarine;
}
.n:hover{
   color:brown;
   border-radius: 12px;
}
    </style>
<title>sad Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="home.css">
</head>
<body>
  <center><p><b>Ho Buddy,Why you feel sad..!!!Life is too short ..Let's enjoy..</b></p></center>
  <center><button class="n"><b>Songs</b></button><br><br></center>
    <center><a href="https://youtu.be/oyHasipretM"><img src="{{url_for('static',filename='ja.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href ="https://youtu.be/G50s92nDHaA"><img src="{{url_for('static',filename='mawa.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/aL-jfj_LDjo"><img src="{{url_for('static',filename='sir.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/My42uq6LMDY"><img src="{{url_for('static',filename='happy.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/vyp3fatQa9g"><img src="{{url_for('static',filename='drunk.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/R2u4u5fnCs4"><img src="{{url_for('static',filename='babyneesugar.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://open.spotify.com/track/2Cj0kdPCNWSqMApIHg8oh6"><img src="{{url_for('static',filename='gelupu.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://open.spotify.com/search/pilla%20jamindari"><img src="{{url_for('static',filename='mot.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/mJPEf7vWb6Q"><img src="{{url_for('static',filename='mca.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/5vmG0d2GW7s"><img src="{{url_for('static',filename='whist.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/enxm-im6OyE"><img src="{{url_for('static',filename='kamali.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/UBBHpoW3AKA"><img src="{{url_for('static',filename='besabriyan.jpg.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/ZhIyyO4JMnA"><img src="{{url_for('static',filename='chalo.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/_xuI60USDjw"><img src="{{url_for('static',filename='jersy.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/mJPEf7vWb6Q"><img src="{{url_for('static',filename='yathii.jpg')}}" style="width:400px;height:200px;"></a><br><br>
  </center>
    </center>
    </body>
      