<!DOCTYPE html>
<html>
  <head>
    <style>
        body{
            background-image: linear-gradient(to left top,#E56E94,#583759);
            background-repeat: no-repeat;
            background-attachment: fixed;
             background-size: cover;
        } 
        p {
  font-size: 40px;
  color:bisque;
  font-size: 20px;
}
.n{  
    float: top-left;
   color: black;
   font-size: 20px;
   background-color: aquamarine;
}
.n:hover{
   color:brown;
   border-radius: 12px;
}
    </style>
<title>fearful Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="home.css">
</head>
<body>
  <center><p><b>Ho Buddy,Why you feel sad..!!!Life is too short ..Let's enjoy..</b></p></center>
  <center><button class="n"><b>Songs</b></button><br><br></center>
     <center><a href="https://open.spotify.com/track/5hCPyBJTeFoMj5B9RhlxoY?si=6ce0b728d8494960"><img src="{{url_for('static',filename='mot1.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <!-- <img src="mot2.jpg" width="25%" height="25%"> -->
    <a href="https://open.spotify.com/track/540QlWSvpDzDOc0EMzUokz"><img src="{{url_for('static',filename='mot3.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href ="https://open.spotify.com/track/5IIF8Ja9bphOiGD3IcyQGz"><img src="{{url_for('static',filename='mot(2).jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://open.spotify.com/playlist/3ZPLCckC4ivMzHz8VLQ5Ov"><img src="{{url_for('static',filename='m.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://open.spotify.com/track/2Cj0kdPCNWSqMApIHg8oh6"><img src="{{url_for('static',filename='gelupu.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://open.spotify.com/search/pilla%20jamindari"><img src="{{url_for('static',filename='mot5.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/5vmG0d2GW7s"><img src="{{url_for('static',filename='whist.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/enxm-im6OyE"><img src="{{url_for('static',filename='kamali.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/UBBHpoW3AKA"><img src="{{url_for('static',filename='besabriyan.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/_xuI60USDjw"><img src="{{url_for('static',filename='jersy.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/mJPEf7vWb6Q"><img src="{{url_for('static',filename='asha.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/fjB3kCRVcGs"><img src="{{url_for('static',filename='eng-2.png')}}" style="width:400px;height:200px;"></a><br>
    <a href="https://youtu.be/xh73u-D3vFI"><img src="{{url_for('static',filename='eng-3.png')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/5xJTTbMWt6Q"><img src="{{url_for('static',filename='eng-4.png')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://www.youtube.com/watch?v=OeNxqdCeV9A"><img src="{{url_for('static',filename='eng-5.png')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://youtu.be/lbpuBVn2epY"><img src="{{url_for('static',filename='eng-6.png')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://open.spotify.com/album/4nbsEScX6MTTXwXFU2nAbc"><img src="{{url_for('static',filename='mari.jpg.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://open.spotify.com/track/6Xju91O0by2BwJqQ3LsAhQ"><img src="{{url_for('static',filename='kesara.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://open.spotify.com/track/2Cj0kdPCNWSqMApIHg8oh6"><img src="{{url_for('static',filename='ja.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    <a href="https://open.spotify.com/track/2sC3y7jnCvsEOD2SiZYBma"><img src="{{url_for('static',filename='padara.jpg')}}" style="width:400px;height:200px;"></a><br><br>
    
  </center>
    </center>
    </body>
      