<!DOCTYPE html>
<html>
  <head>
    <style>
        body{
          background-image: linear-gradient( 111.4deg, rgba(174,216,200,0.76) 19.1%, rgba(174,216,200,1) 27.4%, rgba(136,79,125,1) 63.3% );
 

            /* background-repeat: no-repeat;
            background-attachment: fixed;
             background-size: cover; */
        } 
        p {
  font-size: 30px;
  color:black;
}
.n{  
    float: top-left;
   color: black;
   font-size: 20px;
   background-color: aquamarine;
}
.n:hover{
   color:brown;
   border-radius: 12px;
}



</style>
<title>happy</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="home.css">
</head>
<body>
    

  
  
    
      <!-- Left and right controls -->
  
      <center><p><b>Let's enjoy the Music..</b></p></center>


        <center><button class="n"><b>Songs</b></button><br><br>
     <a href="https://open.spotify.com/track/1NXSmIEOulY9u4TxwuSUoe"><img src="prem.jpg" width="25%" height="25%"></a><br><br>
    <a href="https://open.spotify.com/album/1Hd2y0smTAvVSTvJeXj5lW"><img src="l.jpg" width="25%" height="25%"></a><br>
    <a href="https://open.spotify.com/search/pacchani%20tota"><img src="kadali.jpg" width="25%" height="25%"></a><br><br>
    <a href="https://open.spotify.com/track/7wFL4hNlhotHNU6qZi9bHR"><img src="y.jpg" width="25%" height="25%"></a><br><br>
    <a href="https://open.spotify.com/track/1NXSmIEOulY9u4TxwuSUoe"><img src="prem.jpg" width="25%" height="25%"></a><br><br>
    <a href="https://open.spotify.com/album/1Hd2y0smTAvVSTvJeXj5lW"><img src="girls.png" width="25%" height="25%"></a><br><br>
    <a href="https://open.spotify.com/album/1Hd2y0smTAvVSTvJeXj5lW"><img src="hakunamatata.jpg" width="25%" height="25%"></a><br><br>
    <a href="https://open.spotify.com/album/1Hd2y0smTAvVSTvJeXj5lW"><img src="memories.jpg" width="25%" height="25%"></a><br><br>
    <a href="https://open.spotify.com/album/1Hd2y0smTAvVSTvJeXj5lW"><img src="writer.jpg" width="25%" height="25%"></a><br><br>
    <a href="https://youtu.be/OsTGp5n6w5E"><img src="ranjihaana.jpg" width="25%" height="25%"></a><br><br>
    <a href="https://youtu.be/a3UNpjnYquI"><img src="thodakkam.jpeg" width="25%" height="25%"></a><br><br>
    <a href="https://youtu.be/R2u4u5fnCs4"><img src="babyneesugar.jpeg" width="25%" height="25%"></a><br><br>
  <a href="https://youtu.be/seCVGdhsNYE"><img src="yathii.jpg" width="25%" height="25%"></a><br><br></center>
  
    </body>
      </html>